body {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
#landing .image {
  width: 100%;
  height: 100vh;
  background: url("./images/landing-img.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 0;
}
#landing .skills-image {
  width: 100%;
  height: 100vh;
  background: url("./images/skills-img.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 0;
}

#navigation .nav-link {
  color: white;
}
#navigation .nav-link:hover {
  color: orangered;
  transition: 1s ease-in;
}
#navigation .navbar-brand:hover {
  color: orangered;
  transition: 1s ease-in;
}

#navigation .drop-item {
  color: white;
  text-decoration: none;
}
#navigation .drop-item:hover {
  color: orangered;
  transition: 1s ease-in;
}

.landing-head {
  font-size: 100px;
}
