body {
  font-family: "Montserrat";
}

#navigation .navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
}

/* -------- Mobile first  -----------------------------  */

/* ---------------- nav bar start ---------------*/

#navigation .navbar-brand {
  font-weight: 700;
  text-shadow: 2px 2px 5px black;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

#navigation.navbar {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

#navigation .navbar-nav {
  text-transform: uppercase;
  font-weight: 700;
}
#navigation .navbar-nav .nav-link {
  color: white;
}
#navigation .navbar-nav .nav-link:hover {
  color: slategray;
}
#navigation .navbar-nav .nav-link.active {
  color: orangered;
}
/* #navLogo {
  letter-spacing: 0.4rem;
} */

#navigation .navbar-toggler {
  border-color: white;
  border-width: 1px;
}
#navigation .icon {
  color: white;
}

#navigation .navbar-toggler[aria-expanded="true"] {
  border-color: orangered !important;
  border-width: 2px;
}
#navigation .navbar-toggler[aria-expanded="true"] .icon {
  color: orangered !important;
}
#navigation .myNav {
  background-color: transparent;
  transition: 1.5s;
}
#navigation .nav-scrolled {
  background-color: rgb(37, 35, 35);
  opacity: 0.9;
  transition: 1.2s;
}
/* ------------ nav bar end ------------------ */

/* ------- background start ---------------- */
.gallery-bkground-img {
  min-height: 100%;
  background-color: rgb(35, 36, 36);
  padding-top: 100px;
}

/* ------- background end ---------------- */
/* ------- gallery start ---------------- */
#gallery-pics h2 {
  color: white;
  letter-spacing: 0.8rem;
  font-weight: 600;
  padding-bottom: 5%;
  font-size: 3rem;
}
#gallery-pics .image {
  padding: 10px 10px;
}

#gallery-pics .img-fluid {
  border-radius: 15px;
}

#gallery-pics .img-fluid:hover {
  opacity: 0.5;
}

/* ------- gallery end---------------- */
@media screen and (min-width: 992px) {
  /* ------- background start ---------------- */
  /* -------  no changes ---------------------*/
  /* ------- background end ---------------- */
  /* ------- gallery start ---------------- */
  #gallery-pics h2 {
    letter-spacing: 0.9rem;
    font-size: 4rem;
  }
  #gallery-pics .image {
    padding: 10px 10px;
  }

  #gallery-pics .img-fluid {
    border-radius: 15px;
  }

  #gallery-pics .img-fluid:hover {
    opacity: 0.5;
  }

  /* ------- gallery end---------------- */
}
